.Tea{
    display: flex;
    /* justify-content:space-between; */
    align-items: center;
    padding: 20rem;
    border-bottom: 1px solid #f2f2f2;

}

.ImgBox{
    width:280rem;
}

img{
    width:100%;
    
}

.DescWrap{
    width: 470rem;
    padding-left: 20rem;
}
.Title{
    font-weight: normal;
    font-size: 18px;
    margin: 0;
}

.Desc{
    margin: 0;
    font-size: 12px;
    color: #696666;
    padding-right: 10rem;
}

.PriceWrap{
    margin-top: 40rem;
    display: flex;
    justify-content:space-between;
    padding-right: 40rem;

}

.Price{
    font-weight: bold;
    font-size: 20px;
}

.Price::before{
    content: '$';
    font-size: 15px;    
    padding-right: 5rem;
}