.Counter{
    display: flex;

    align-items: center;
}



.Sub,
.Add{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #FBCF49;
    line-height: 40rem;
    width: 36rem;
    height: 36rem;
    border-radius: 50%;
    font-size: 48rem;
    padding: 0;
}

.Sub{
    background-color: white;
    border: 2rem solid black;
}

.Count{
    font-size: 32rem;
    margin: 0 10rem;
}